nextflow.config
.nextflow*
work/
results*/
.DS_Store
slurm*
run.sh

# nf-test working directory and cache
.nf-test/

# nf-test temporary files
**/.nf-test.tmp/

# nf-test logs
.nf-test.log

# Any nf-test generated reports
nf-test-report.html

tests/data/
