params {
    // Input data
    fastq = "/path/to/fastq/directory"  // UPDATE: path to directory containing fastq files
    hg38_fasta = "/path/to/hg38_fasta"  // UPDATE: path to primary assembly of the human reference genome
    mm39_fasta = "/path/to/mm39_fasta"  // UPDATE: path to primary assembly of the mouse reference genome

    // Output directories
    test_results = "test_results"
    outdir_base = "results"  // UPDATE: Base directory for all output
    outdir_accessory_files = "${params.outdir_base}/accessory_files"
    outdir_fastp = "${params.outdir_base}/fastp"
    outdir_bam = "${params.outdir_base}/bam"
    outdir_index = "${params.outdir_base}/index"
    outdir_bamcmp = "${params.outdir_base}/bamcmp"
    outdir_markduplicates = "${params.outdir_base}/mark_duplicates"
    outdir_bqsr = "${params.outdir_base}/bqsr"
    outdir_resources = "${params.outdir_base}/resources"
    outdir_mutect2 = "${params.outdir_base}/mutect2"
}

// CHANGE THIS IF USING DOCKER
singularity {
    enabled = true
    autoMounts = true
}
